.card {
    position: relative;
    @include border();
    &-image {
        position: relative;
    }
    &-icon {
        @include centerElement();
    }
    &-text {
        background-color: $base-background-color;
        @include border($dir: top);
        padding: $gap-md $gap;
        > *:last-child {
            margin-bottom: 0;
        }
    }
    &-anchor {
        .card-link {
            @include coverAll();
        }
    }
    &-overlay {
        .card-text {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: rgba($base-background-color, $card-overlay-opacity);
        }
    }
}
