.header {
    background-color: $header-background-color;
    &.page-section {
        border-bottom: $header-bottom-border;
    }
    ul,
    ol {
        @include resetList();
    }
    .section-container {
        padding: $gap $page-section-padding;
        @include clearfix();
    }
    .logo-container {
        width: $header-logo-width;
        float: left;
    }
    .menu-container {
        display: inline-block;
        @include centerVertical();
        right: $page-section-padding;
        .menu {
            @include horizontalList();
        }
        .submenu {
            display: block;
            position: absolute;
            @include transition();
            opacity: 0;
            z-index: -1;
            visibility: hidden;
            //text-align: center;x
            .menu-item {
                padding: $gap-half $gap;
                background-color: $header-submenu-background-color;
                &:first-child {
                    @include border($dir: top, $thickness: 2px, $color: $base-font-color);
                }
            }
            &:before {
                height: $gap;
                display: block;
                content: '';
                background-color: transparent;
            }
            &:after {
                content: '';
                @include createTriangle('up', 6px, 6px);
                position: absolute;
                @include translate(-50%, -100%);
                left: 50%;
                top: $gap + 1px;
            }
        }
        .menu-item {
            position: relative;
            .text {
                color: $header-color;
                text-transform: $header-text-transform;
                display: block;
                text-decoration: none;
                user-select: none;
                cursor: default;
            }
            .no-touch & {
                a.text {
                    cursor: pointer;
                    &:hover {
                        color: $header-hover-color;
                    }
                }
            }
            .no-touch & {
                &.has-child {
                    &:hover {
                        > .submenu {
                            visibility: visible;
                            opacity: 1;
                            z-index: 99;
                        }
                    }
                }
            }
        }
        @include breakpoint($breakpoint-lg) {
            display: none;
        }
    }
    .burger-container {
        cursor: pointer;
        display: none;
        @include centerVertical();
        right: $page-section-padding;
        padding: $gap;
        padding-right: 0;
        .burger {
            @include burger($color: $header-color);
        }
        @include breakpoint($breakpoint-lg) {
            display: block;
        }
        &.active {
            .burger {
                @include burger-to-cross();
            }
        }
    }
}
