@import "layout";
@import "buttons";
@import "typography";
@import "forms";
@import "lists";
@import "media";
@import "tables";
@import "icons";
@import "easing";
@import "colors";
@import "images";

.body {
	position:relative;
}

.clearfix {
	@include clearfix();
}

.overlay {
    @include fixedOverlay();
}

.visibility-hidden {
	visibility: hidden;
}

.no-scroll {
    overflow: hidden;

    @include breakpoint($breakpoint-lg) {
    	cursor: pointer; //needed for enablind click event on mobile
    }
}

