html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    min-width: $screen-xs;
}

.page-section {
    background-color: $base-background-color;
}

.section-container {
    position: relative;
    margin: 0 auto;
    width: auto;
    &:not(.full-width) {
        max-width: $page-section-max-width;
        padding: $page-section-padding;
    }
}
