html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    min-width: $screen-xs;
}

section.page-section {
    background-color: $base-background-color;
}

.section-container {
    padding: $page-section-padding;
    max-width: $page-section-max-width;
    margin: 0 auto;
}
