table {
  border-collapse: collapse;
  margin: $gap-half 0;
  table-layout: fixed;
  width: 100%;
}

th {
  @include setTextFormat($heading-font-family, $heading-font-size, $heading-font-weight, $heading-line-height);
  border-bottom: $base-border;
  padding: $gap-half 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $gap-half 0;
}

tr,
td,
th {
  vertical-align: middle;
}
