// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: 'Source Sans Pro', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// =================================================
// Colors
// =================================================

// Brand Colors
@color-green: #00723f;
@color-dark-green: darken(#00723f,10%);

// Grays
@color-black: #000;
@color-gray-dark: #333;
@color-gray: #555;
@color-gray-light: #ccc;
@color-white: #fff;

// Bg
@color-bg-primary: #fff;
@color-bg-secondary: #f9f9f3;
//@color-bg-tertiary: #;
//@color-bg-quaternary: #;
//@color-bg-quinary: #;


