// =================================================
// Default Colors
// =================================================

// Brand Colors
$color-green: #00723f;
$color-dark-green: darken(#00723f,10%);

// Grays
$black: #000;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;

// Background Colors
$base-background-color: $white;
$secondary-background-color : #f5f5f3;
//$tertiary-background-color : #;
//$quaternary-background-color : #;

// Brand
$base-brand-color: $color-green;
$secondary-brand-color: $color-dark-green;

// Font Colors
$base-font-color: #373b37;

// =================================================
// Fonts
// =================================================

// Font familys
$opensans: 'Open Sans', sans-serif;
$sourcesanspro : 'Source Sans Pro', sans-serif;

// Text
$base-font-family: $opensans;
$base-font-weight: 400;
$base-font-size: 14px;
$base-line-height: 1.5;
$base-font-name: 'base';

// Small Text
$small-font-size: $base-font-size - 2px;

// Large Text
$large-font-size: $base-font-size + 2px;

// Text
$heading-font-weight: normal;
$heading-font-family: $sourcesanspro;
$heading-font-size: 26px;
$heading-line-height: 1.2;
$heading-text-transform: none;
$heading-font-name: 'heading';

// h1
$h1-font-size: 36px;
$h1-font-size-lg: 32px;
$h1-font-size-md: 28px;
$h1-font-size-sm: 24px;

// h2
$h2-font-size: $h1-font-size - 2px;
$h2-font-size-lg: $h1-font-size-lg - 2px;
$h2-font-size-md: $h1-font-size-md - 2px;
$h2-font-size-sm: $h1-font-size-sm - 2px;

// h3
$h3-font-size: $h1-font-size - 4px;
$h3-font-size-lg: $h1-font-size-lg - 4px;
$h3-font-size-md: $h1-font-size-md - 4px;
$h3-font-size-sm: $h1-font-size-sm - 4px;

// h4
$h4-font-size: $h1-font-size - 6px;
$h4-font-size-lg: $h1-font-size-lg - 6px;
$h4-font-size-md: $h1-font-size-md - 6px;
$h4-font-size-sm: $h1-font-size-sm - 6px;

// h5
$h5-font-size: $h1-font-size - 8px;
$h5-font-size-lg: $h1-font-size-lg - 8px;
$h5-font-size-md: $h1-font-size-md - 8px;
$h5-font-size-sm: $h1-font-size-sm - 8px;

// h6
$h6-font-size: $h1-font-size - 10px;
$h6-font-size-lg: $h1-font-size-lg - 10px;
$h6-font-size-md: $h1-font-size-md - 10px;
$h6-font-size-sm: $h1-font-size-sm - 10px;

// =================================================
// Border
// =================================================

// Border
$base-border-color: #e0e0e0;
$base-border: 1px solid $base-border-color;
$base-border-thickness: 1px;
$base-border-style: solid;
$secondary-border-color : $light-gray;
$secondary-border: 1px solid $secondary-border-color;

// =================================================
// Breakpoints
// =================================================

$screen-xl: 1400px;
$screen-lg: 1024px;
$screen-md: 768px;
$screen-sm: 460px;
$screen-xs: 320px;

// =================================================
//Gaps
// =================================================

$gap-xxl: 35px;
$gap-xl: 30px;
$gap-lg: 25px;
$gap: 20px;
$gap-md: 15px;
$gap-sm: 10px;
$gap-xs: 5px;

$gap-triple: $gap * 3;
$gap-double: $gap * 2;
$gap-half: $gap * 0.5;
$gap-none: 0;

// =================================================
// Animation
// =================================================

$base-transition-duration: 0.2s;
$base-transition-timing: linear; 
$base-transition: all $base-transition-duration $base-transition-timing;

// =================================================
// Misc
// =================================================

$base-border-radius : 0;

// =================================================
// Buttons
// =================================================

$button-color: $base-font-color;
$button-background-color: $base-background-color;
$button-border-radius: $base-border-radius;
$button-font-family: $sourcesanspro;
$button-font-size: 12px;
$button-font-weight: 600;
$button-line-height: 1;
$button-hover-color: $white;
$button-hover-background-color: $base-brand-color;
$button-border-color: $base-border-color;
$button-text-transform: uppercase;
$button-font-name: 'button';

 
// =================================================
// Links
// =================================================

$link-color: $base-font-color;
$link-hover-color: $base-brand-color;
//$link-text-transform: none;
//$link-font-family: $base-font-family;
//$link-font-size: $base-font-size;
//$link-font-weight: $base-font-weight;
//$link-text-decoration: underline;
//$link-font-name: 'link';

// =================================================
// Page section
// =================================================

$section-padding: $gap-double;
$section-max-width: 1024px;

// =================================================
// Text inputs
// =================================================

$text-input-background-color: $base-background-color;
$text-input-border: $base-border;
$text-input-padding: $gap-sm $gap;

// =================================================
// Side nav
// =================================================

$sidenav-width: 300px;
$sidenav-background-color: $base-background-color;
$sidenav-border-color: $base-border-color;

// =================================================
// Accordion
// =================================================
  
$accordion-border-color: $base-border-color;
$accordion-color: $base-font-color;
$accordion-background-color: $base-background-color;
$accordion-hover-color: $accordion-color;
$accordion-hover-background-color: $accordion-background-color;
$accordion-sub-color: $accordion-color;
$accordion-sub-background-color: $secondary-background-color;
$accordion-sub-hover-color: $accordion-color;
$accordion-sub-hover-background-color: $accordion-sub-background-color;
$accordion-padding: $gap-half $gap;
$accordion-sub-indent: $gap*2;
$accordion-font: 'base';


// =================================================
// Grid
// =================================================

$grid-gap: $gap;