@import './lib/normalize';
//@import 'bourbon';
@import 'neat';
@import "variables";
@import "helper";
@import './core/base';
@import './components/base';
//project specific styles
.side-nav {
    .logo-container {
        padding: $gap;
        img {
            margin: 0 auto;
            width: 100px;
            display: block;
        }
    }
    .accordion {
        border-right: none;
        a {
            @include setTextFormat($button-font-family, $button-font-size, $button-font-weight, $button-line-height, $button-text-transform);
            letter-spacing: 1px;
            text-decoration: none;
            display: table;
            width: 100%;
            table-layout: fixed;
            > span {
                vertical-align: middle;
                display: table-cell;
                &.label {
                    width: 85%;
                    text-align: left;
                }
                &.icon {
                    width: 15%;
                    text-align: right;
                    > span {
                        margin-top: 1px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
