//@import 'bourbon';
//@import 'neat';
@import "variables";
@import "helper";
@import './lib/base';
@import './core/base';
@import './components/base';
//project specific styles
.side-nav {
    .logo-container {
        padding: $gap-triple $gap;
        img {
            margin: 0 auto;
            max-width: 200px;
            display: block;
        }
        @include breakpoint($breakpoint-lg) {
            margin-top: $gap-double;
        }
    }
    .accordion {
        li.menu-item > a {
            @include setFont($button-font-name);
            padding: $gap;
        }
    }
    .label-with-icon {
        width: 100%;
    }
}


/*
    section.page-section.introduction {
        text-align: center;
        background-color: $secondary-background-color;
        > .section-container {
            padding: $gap-double $gap-triple;
        }
    }
    */

.page-section {
    @include border($dir: bottom);
}

.section-container {
    .information,
    .sub-information {
        margin-bottom: $gap-double;
        @include border($color: $base-font-color, $thickness: 4px, $dir: left);
        padding-left: $gap;
        h2,
        h3 {
            margin-bottom: $gap-md;
        }
        p {
            font-weight: 300;
            @include setFontSize($button-font-size - 2px);
        }
        > * {
            @include setFont($button-font-name);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .information {
        background-color: $secondary-background-color;
        padding-top: $gap;
        padding-bottom: $gap;
    }
}

.code-expander {
    $diameter: $gap-double;
    @include border($dir: top, $style: dashed);
    margin: $gap-double 0 0;
    .line-behind-icon {
        text-align: center;
        display: block;
        height: $gap;
        .icon-container {
            position: relative;
            top: -$diameter*0.5;
            display: inline-block;
            padding: 0 $gap;
            background-color: $base-background-color;
        }
        .icon-circle {
            color: $white;
            background-color: $base-brand-color;
        }
    }
    .expander-content {
        pre {
            @include border($color: $base-font-color, $thickness: 4px, $dir: left);
            margin-top: $gap;
        }
    }
}


/*
    #list-types {
        .column {
            .reset {
                padding-bottom: 4px; //align fix
            }
        }
    }
    */

#logo {
    .logo-container {
        padding: $gap-double;
        &.default {
            @include border();
        }
    }
    .inverted {
        background-color: $tertiary-background-color;
    }
}

#lightbox,
#cards,
#list-types,
#colors {
    .content {
        > .row {
            padding-top: $gap-double;
            &:first-child {
                padding-top: 0;
            }
        }
    }
}

#colors {
    .sub-information {
        background-color: transparent;
    }
    .color {
        @include createCircle($diameter: 100px, $background-color: transparent);
        margin-left: $gap;
    }
    .primary-color + .color {
        background-color: $base-brand-color;
    }
    .secondary-color + .color {
        background-color: $secondary-brand-color;
    }
    .tertiary-color + .color {
        background-color: $tertiary-brand-color;
    }
    .primary-background-color + .color {
        background-color: $base-background-color;
        @include border();
    }
    .secondary-background-color + .color {
        background-color: $secondary-background-color;
    }
    .tertiary-background-color + .color {
        background-color: $tertiary-background-color;
    }
    .primary-font-color + .color {
        background-color: $base-font-color;
    }
    .secondary-font-color + .color {
        background-color: $secondary-font-color;
        @include border();
    }
}

#icons,
#form-elements {
    .content {
        .expander {
            margin-bottom: $gap;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .row {
        margin-bottom: $gap;
    }
}


/*
#form-elements {
    fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }
}
*/

#icons {
    .content.standarn-icons .icon {
        font-size: 40px;
    }
    .column .sub-information {
        > h3 {
            text-transform: none;
        }
    }
}

#icons {
    .code-expander {
        margin-top: $gap*3;
    }
}

#icons,
#grid {
    .expander {
        margin-bottom: $gap-double;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

#grid {
    .column {
        text-align: center;
        padding: $gap-half;
        background-color: $secondary-background-color;
        //@include border();
        > p {
            margin: 0;
        }
    }
    .same-height {
        .column {
            padding: $gap;
            text-align: left;
        }
    }
}

#slider,
#footer,
#header {
    > .section-container {
        padding: $gap 0;
    }
    .centered-container {
        @include centeredContainer();
        padding: 0 $gap-double;
    }
    .information {
        margin-top: $gap;
    }
}

#lightbox {
    a.swipebox {
        display: block;
        position: relative;
        > .icon-container {
            display: block;
        }
    }
    .expander {
        margin-bottom: $gap;
    }
    .content {
        > .expander {
            margin-bottom: 0;
        }
        > .sub-information {
            margin-top: $gap;
            margin-bottom: 0;
        }
    }
}

.menu-toggle {
    z-index: 999;
    display: none;
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    padding: $gap-half;
    .circle {
        @include createCircle($diameter: $gap-triple, $background-color: $secondary-background-color, $border: $base-border);
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    }
    .burger-container {
        @include centerElement();
        .burger {
            @include burger($color: $base-font-color);
        }
        &.active {
            .burger {
                @include burger-to-cross();
            }
        }
    }
    @include breakpoint($breakpoint-lg) {
        display: block;
    }
}
