@import './lib/normalize';
@import './lib/prism';
//@import 'bourbon';
@import 'neat';
@import "variables";
@import "helper";
@import './core/base';
@import './components/base';
//project specific styles
.side-nav {
    .logo-container {
        padding: $gap;
        img {
            margin: 0 auto;
            width: 100px;
            display: block;
        }
    }
    .accordion-menu {
        li.menu-item > a {
            @include setFont($button-font-name);
            padding: $gap;
        }
    }
}

.introduction {
    text-align: center;
    padding: $gap-double $gap-triple;
    background-color: $secondary-background-color;
    @include border($dir: bottom);
}

.dk-expander {
    $diameter: $gap-double;
    @include border($dir: top);
    margin: $diameter 0 0;
    .line-behind-icon {
        text-align: center;
        display: block;
        .icon-container {
            position: relative;
            top: -$diameter*0.5;
            display: inline-block;
            padding: 0 $gap;
            background-color: $base-background-color;
        }
        .icon-circle {
            @include createCircle($diameter: $diameter, $color: $white);
            //padding: 0 $gap;
            display: inline-block;
        }
    }
}
